<h1>my nursery</h1>
<% @lists.each do |list| %>
<h2><%= list.name %></h2>
<!-- Display list -->
<div class="<%= list.name %>" id="<%= list.id %>">
    <table id="<%= list.name %>">
        <% list.words.each do |word| %>
            <tr id="<%= word.name %>">
                <!-- Display word -->
                <td>
                    <h3 class="word"><a name="<%= word.name %>" id="<%= word.name %>_word"><%= word.name %></a></h3>
                    <div id="<%= word.name %>_definitions" style="display:none">
                        <%= word.pronunciation %>
                        <% word.definition.each do |result| %>
                            <h4><%= result[:part_of_speech] %></h4>
                            <p><%= result[:definition] %></p>
                        <% end %>
                        <p class="smallprint"><%= word.attribution %></p>
                    </div>
                </td>
                <!-- Display links to change its list -->
                <td class="list-icons">
                    <a name="kindergarten" id="<%= word.name %>-kindergarten-icon" data-list-id="<%= list.id %>" data-word-id="<%= word.id %>">K</a>
                    <a name="school" id="<%= word.name %>-school-icon" data-list-id="<%= list.id %>" data-word-id="<%= word.id %>">S</a>
                    <a name="graduated" id="<%= word.name %>-graduated-icon" data-list-id="<%= list.id %>" data-word-id="<%= word.id %>">G</a>
                </td>
                <!-- Delete button -->
                <td>
                    <%= link_to "delete", "/words/#{word.id}", method: :delete, data: { confirm: "Sure you want to remove #{word.name}?" } %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>
