<section class="nursery">
    <% @lists.each do |list| %>
        <!-- Display list -->
        <div class="<%= list.name %>" id="<%= list.id %>">
            <h1>
                <% if list.name == "kindergarten" %>
                    <i class="fi-foot"></i>
                <% elsif list.name == "school" %>
                    <i class="fi-book-bookmark"></i>
                <% else %>
                    <i class="fi-trophy"></i>
                <% end %>
                <%= list.name %>
            </h1>
            <table id="<%= list.name %>">
                <% list.words.each do |word| %>
                    <tr id="<%= word.name %>">
                        <!-- Display word -->
                        <td class="word-box">
                            <h4 class="word">
                                <%= link_to "#", name: "#{word.name}", id: "#{word.name}_word" do %>
                                    <%= word.name %>
                                <% end %>
                            </h4>
                            <div id="<%= word.name %>_definitions" style="display:none">
                                <h5><%= word.pronunciation %></h5>
                                <% word.definition.each do |result| %>
                                    <h6><%= result[:part_of_speech] %></h6>
                                    <p><%= result[:definition] %></p>
                                <% end %>
                                <p class="smallprint"><%= word.attribution %></p>
                            </div>
                        </td>
                        <!-- Display links to change word list -->
                        <td class="list-icons">
                            <%= link_to "#", name: "kindergarten", id: "#{word.name}-kindergarten-icon", data: { word_id: "#{word.id}" } do %>
                                <i class="fi-foot"></i>
                            <% end %>

                            <%= link_to "#", name: "school", id: "#{word.name}-school-icon", data: { word_id: "#{word.id}" } do %>
                                <i class="fi-book-bookmark"></i>
                            <% end %>

                            <%= link_to "#", name: "graduated", id: "#{word.name}-graduated-icon", data: { word_id: "#{word.id}" } do %>
                                <i class="fi-trophy"></i>
                            <% end %>
                        </td>
                        <!-- Delete button -->
                        <td class="delete">
                            <%= link_to word, method: :delete, data: { confirm: "Sure you want to remove #{word.name}?" } do %>
                                <i class="fi-x"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
    <%= link_to "#", id: "show-graduated" do %>
        <p>Show graduated words &darr;</p>
    <% end %>
</section>
