<% if @blank_error %>
	<h1 class="word">Well, duh.</h1>
	<p><%= @blank_error %></p>
<% else %>
	<section class="results">
		<div class="results-header">
			<form class="hidden nursery" action="/words" method="post">
				<input type="hidden" value="<%= @word %>" name="word">
				<input type="hidden" value="<%= @definitions %>" name="definitions">
				<input type="hidden" value="<%= @attribution %>" name="attribution">
				<input class="button" name="store" type="submit" value="Add to Nursery">
			</form>
			<a href="/"><button class="button">New search</button></a>
			<form class="hidden" action="/search" method="get">
				<input class="button" name="searchtype" type="submit" value="Randomize!">
			</form>
			<h1 class="word"><%= @word %></h1>
		</div>
		<h2><%= @pronunciation %></h2>
		<section class="definitions">
			<% if @not_found_error %>
			<p><%= @not_found_error %></p>
			<% else %>
				<% @definitions.each do |result| %>
					<h3><%= result[:part_of_speech] %></h3>
					<p><%= result[:definition] %></p>
				<% end %>
				<p class="smallprint"><%= @attribution %></p>
			<% end %>
		</section>
	</div>
<% end %>


