<!DOCTYPE html>
<html>
<head>
	<title>WordNursery</title>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:700|Raleway:400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "normalize", "foundation", "application", :media => "all" %>
	<%= javascript_include_tag "foundation", "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar">
		<section class="logo">
			<ul class="left">
				<li>
					<a href="/"><span class="logo1">word</span><span class="logo2">nursery</span></a>
				</li>
			</ul>
			<ul class="right">
				<% if user_signed_in? %>
					<li>
						<%= link_to "log out", destroy_user_session_path, :method => :delete %>
						<%= link_to	'account', edit_user_registration_path %>
					</li>
				<% else %>
					<li>
						<%= link_to	'log in', new_user_session_path %>
						<%= link_to	'sign up', new_user_registration_path %>
					</li>
				<% end %>
			</ul>
		</section>
	</nav>
	<div class="row">
		<div class="small-12 large-centered columns container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
