<!DOCTYPE html>
<html>
<head>
	<title>WordNursery</title>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:700|Raleway:400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "normalize", "foundation", "application", :media => "all" %>
	<%= javascript_include_tag "foundation", "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<section class="top-bar-section">
				<ul class="left">
					<li class="name"><a href="/">wordnursery</a></li>
				</ul>
			</section>
		</ul>
		<section class="top-bar-section">
			<ul class="right">

			</ul>
		</section>
	</nav>
	<div id="user_nav">

	</div>

	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>

	<%= yield %>

</body>
</html>
